body{
  background: #e46f6f;
  color: white;
}

nav {
  background-color: blueviolet;
  height: 35px;
  text-align: center;
}

nav a {
color: #f6f4e6;
text-decoration: none;
font-size: 1em;
text-transform: uppercase;
font-weight: 500;
display: inline-block;
margin: 8px;
width: 200px;
transition: all 0.2s ease-in-out;
}

nav a:hover {
color: #16c7ad;
}

button {
background-color: #555555;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
